<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 조건을 처리하기 위해 ? 대신 #{}를 사용하게 됐지. #{} 구문은 get()/set()으로 사용돼. https://mybatis.org/mybatis-3/ko/sqlmap-xml.html 
	여기 읽어보면 문법이 나와있어. -->

<mapper namespace="com.luvit.mapper.LikeyMapper">

<update id="like_check" parameterType="HashMap">
    UPDATE likey
    SET likey_check = likey_check + 1 
    WHERE l_id=#{l_id} AND l_t_bno=#{l_t_bno}
  </update>
  
  <update id="like_check_cancel" parameterType="HashMap">
    UPDATE likey
    SET likey_check = 0
    WHERE l_id=#{l_id} AND l_t_bno=#{l_t_bno}
  </update>
  
</mapper>
  