<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <typeAliases>
        <typeAlias type="com.luvit.domain.UserVO" alias="userVO"/>
        <typeAlias type="com.luvit.domain.OrderVO" alias="ovo"/>
        <typeAlias type="com.luvit.domain.RecipeVO" alias="rvo"/>
    </typeAliases>

</configuration>